<a href="https://colab.research.google.com/github/jzj5528/ST-Louis-Vacancy-Project-/blob/main/AmenitiesCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import numpy as np 
import pandas as pd 
import folium
import matplotlib.pyplot as plt
import seaborn as sns
# magic word for producing visualizations in notebook
%matplotlib inline

In [66]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [67]:
df = pd.read_csv('/content/gdrive/My Drive/BoozAllenHamilton/Amenities.csv')

In [68]:
df.dtypes

objectid       int64
Amenity       object
latitude     float64
longitude    float64
dtype: object

In [69]:
df

      objectid         Amenity   latitude  longitude
0            1            cafe -90.307708  38.637362
1            2            dojo -90.307816  38.637375
2            3      restaurant -90.307897  38.637619
3            4       ice_cream -90.307877  38.637749
4            5             bar -90.307715  38.638370
...        ...             ...        ...        ...
1658      1659      restaurant -90.231597  38.639264
1659      1660         toilets -90.279391  38.639202
1660      1661         toilets -90.279306  38.639259
1661      1662  drinking_water -90.279454  38.639240
1662      1663  drinking_water -90.279349  38.639316

[1663 rows x 4 columns]

In [70]:
df.drop(df[df['Amenity']=='bench'].index, inplace=True)
df.drop(df[df['Amenity']=='toilets'].index, inplace=True)
df.drop(df[df['Amenity']=='atm'].index, inplace=True)
df.drop(df[df['Amenity']=='bar'].index, inplace=True)
df.drop(df[df['Amenity']=='bicycle_parking'].index, inplace=True)
df.drop(df[df['Amenity']=='waste_basket'].index, inplace=True)
df.drop(df[df['Amenity']=='grave_yard'].index, inplace=True)
df.drop(df[df['Amenity']=='pub'].index, inplace=True)
df.drop(df[df['Amenity']=='telephone'].index, inplace=True)
df.drop(df[df['Amenity']=='vending_machine'].index, inplace=True)
df.drop(df[df['Amenity']=='animal shelter'].index, inplace=True)
df.drop(df[df['Amenity']=='bicycle_repair_station'].index, inplace=True)
df.drop(df[df['Amenity']=='charging_station'].index, inplace=True)
df.drop(df[df['Amenity']=='dentist'].index, inplace=True)
df.drop(df[df['Amenity']=='clock'].index, inplace=True)
df.drop(df[df['Amenity']=='dojo'].index, inplace=True)
df.drop(df[df['Amenity']=='fountain'].index, inplace=True)
df.drop(df[df['Amenity']=='nightclub'].index, inplace=True)
df.drop(df[df['Amenity']=='post_box'].index, inplace=True)
df.drop(df[df['Amenity']=='pub'].index, inplace=True)
df.drop(df[df['Amenity']=='public_bookcase'].index, inplace=True)
df.drop(df[df['Amenity']=='recycling'].index, inplace=True)
df.drop(df[df['Amenity']=='telephone'].index, inplace=True)
df.drop(df[df['Amenity']=='weighbridge'].index, inplace=True)
df.drop(df[df['Amenity']=='telephone'].index, inplace=True)
df.drop(df[df['Amenity']=='drinking_water'].index, inplace=True)
df.drop(df[df['Amenity']=='drinking_school'].index, inplace=True)
df.drop(df[df['Amenity']=='reception_desk'].index, inplace=True)

In [71]:
df

      objectid         Amenity   latitude  longitude
0            1            cafe -90.307708  38.637362
2            3      restaurant -90.307897  38.637619
3            4       ice_cream -90.307877  38.637749
5            6            cafe -90.307686  38.638642
6            7      restaurant -90.306299  38.633093
...        ...             ...        ...        ...
1649      1650  driving_school -90.260683  38.643392
1653      1654       fast_food -90.233894  38.632763
1654      1655      restaurant -90.275637  38.728292
1657      1658       fast_food -90.227670  38.647206
1658      1659      restaurant -90.231597  38.639264

[375 rows x 4 columns]

# Food Dining

In [72]:
df['Amenity'] = df['Amenity'].replace(['cafe'],['FoodDining'])

In [73]:
df['Amenity'] = df['Amenity'].replace(['fast_food'],['FoodDining'])

In [74]:
df['Amenity'] = df['Amenity'].replace(['ice_cream'],['FoodDining'])

In [75]:
df['Amenity'] = df['Amenity'].replace(['pub'],['FoodDining'])

In [76]:
df['Amenity'] = df['Amenity'].replace(['restaurant'],['FoodDining'])

# Entertainment Leisure

In [77]:
df['Amenity'] = df['Amenity'].replace(['arts_centre'],['EntertainmentLeisure'])

In [78]:
df['Amenity'] = df['Amenity'].replace(['Banquet_Hall'],['EntertainmentLeisure'])

In [79]:
df['Amenity'] = df['Amenity'].replace(['cinema'],['EntertainmentLeisure'])

In [80]:
df['Amenity'] = df['Amenity'].replace(['community_centre'],['EntertainmentLeisure'])

In [81]:
df['Amenity'] = df['Amenity'].replace(['events_venue'],['EntertainmentLeisure'])

In [82]:
df['Amenity'] = df['Amenity'].replace(['theatre'],['EntertainmentLeisure'])

# Parking

In [83]:
df['Amenity'] = df['Amenity'].replace(['parking'],['Parking'])

In [84]:
df['Amenity'] = df['Amenity'].replace(['parking_entrance'],['Parking'])

# Health and Safety

In [85]:
df['Amenity'] = df['Amenity'].replace(['clinic'],['HealthSafety'])
df['Amenity'] = df['Amenity'].replace(['doctors'],['HealthSafety'])
df['Amenity'] = df['Amenity'].replace(['fire_station'],['HealthSafety'])
df['Amenity'] = df['Amenity'].replace(['hospital'],['HealthSafety'])
df['Amenity'] = df['Amenity'].replace(['pharmacy'],['HealthSafety'])
df['Amenity'] = df['Amenity'].replace(['police'],['HealthSafety'])
df['Amenity'] = df['Amenity'].replace(['social_facility'],['HealthSafety'])

In [86]:
df

      objectid         Amenity   latitude  longitude
0            1      FoodDining -90.307708  38.637362
2            3      FoodDining -90.307897  38.637619
3            4      FoodDining -90.307877  38.637749
5            6      FoodDining -90.307686  38.638642
6            7      FoodDining -90.306299  38.633093
...        ...             ...        ...        ...
1649      1650  driving_school -90.260683  38.643392
1653      1654      FoodDining -90.233894  38.632763
1654      1655      FoodDining -90.275637  38.728292
1657      1658      FoodDining -90.227670  38.647206
1658      1659      FoodDining -90.231597  38.639264

[375 rows x 4 columns]

In [87]:
from google.colab import files

In [88]:
df.to_csv('StLouisAmenitiesCleaned.csv', encoding = 'utf-8-sig')
files.download('StLouisAmenitiesCleaned.csv')