<a href="https://colab.research.google.com/github/jzj5528/ST-Louis-Vacancy-Project-/blob/main/VacantHomes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd 
import folium
import matplotlib.pyplot as plt
import seaborn as sns
# magic word for producing visualizations in notebook
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
df = pd.read_csv('/content/gdrive/My Drive/BoozAllenHamilton/AllVacantLotsData.csv')

In [9]:
df.head()

,Handle,"""StAddrNum""",StNameFull,Zip,Ward20,Ward10,NhdName,CensTract20,CensTract10,Lat,...,BurdenCat,BoardUp,IsLRA,TaxYrsDel,VacRegMonths,VioMajor,CSBVacancy,CSBNuisance,Forestry,Condemned
0,10338000030,914,ST LOUIS AV,63102,14.0,2,Near North Riverfront,1266.0,1266.0,38.65261,...,Zero,NaN,NaN,0,0,0,True,NaN,NaN,NaN
1,10688000011,110,CASS AV,63102,14.0,5,Near North Riverfront,1257.0,1257.0,38.63844,...,Minimal,NaN,NaN,0,0,0,True,True,NaN,NaN
2,10848000025,2704,S 11TH ST,63118,8.0,9,Soulard,1276.0,1276.0,38.60046,...,Zero,NaN,NaN,0,0,0,True,NaN,NaN,NaN
3,10942000120,1926,DELMAR BLVD,63103,14.0,19,Downtown West,1275.0,1275.0,38.63522,...,Minimal,NaN,NaN,0,0,0,True,True,NaN,NaN
4,11001000240,2837,DAYTON ST,63106,14.0,3,Jeff Vanderlou,1212.0,1212.0,38.64233,...,Zero,NaN,NaN,0,0,0,True,NaN,NaN,NaN

In [5]:
df.dtypes

Handle            int64
 "StAddrNum"      int64
StNameFull       object
Zip               int64
Ward20          float64
Ward10            int64
NhdName          object
CensTract20     float64
CensTract10     float64
Lat             float64
Lng             float64
Type             object
ParcelSqFt        int64
OwnerName        object
OwnerName2       object
OwnerState       object
OwnerZip        float64
OwnerChange      object
BldgAge         float64
Vacancy           int64
VacancyCat       object
Burden            int64
BurdenCat        object
BoardUp          object
IsLRA            object
TaxYrsDel         int64
VacRegMonths      int64
VioMajor          int64
CSBVacancy       object
CSBNuisance      object
Forestry         object
Condemned        object
dtype: object

In [7]:
pd.value_counts(df['BurdenCat'])[:15]

Extremely High    5075
High              4984
Very High         3558
Zero              3324
Minimal           2585
Very Low          2495
Low               1356
Medium Low         914
Medium             711
Medium High        596
Somewhat High      463
Name: BurdenCat, dtype: int64

In [8]:
pd.value_counts(df['Type'])[:15]

Empty Lot        14714
Single-Family     6487
Duplex            2874
Commercial         939
Multi-Unit         887
Mixed-Use          156
Other                4
Name: Type, dtype: int64

In [10]:
pd.value_counts(df['VacancyCat'])[:15]

Definite         14676
Very Likely       9957
Indeterminant     1261
Possible           167
Name: VacancyCat, dtype: int64

In [11]:
pd.value_counts(df['Condemned'])[:15]

True    2014
Name: Condemned, dtype: int64